beautifulsoup4==4.12.3
certifi==2024.2.2
charset-normalizer==3.3.2
et-xmlfile==1.1.0
future==1.0.0
idna==3.7
load-dotenv==0.1.0
numpy==1.26.4
meraki==1.46.0
O365==2.0.34
oauthlib==3.2.2
openpyxl==3.1.2
pandas==2.2.2
PyJWT==2.8.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
requests==2.32.2
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
six==1.16.0
soupsieve==2.5
stringcase==1.2.0
tzdata==2024.1
tzlocal==5.2
urllib3==2.2.1
webexteamssdk==1.6.1
